<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Island</title>
</head>
<body>
    <header>
      <nav>
        <div id="logo">
            <img src="/img/logoProvisional.png" alt="">
        </div>
        <div id="barraBusqueda">
            <i class="fa-solid fa-magnifying-glass navButton"></i>  
            <input type="search" placeholder="Busca aquí...">
          
        </div>
        <div class="navButton barras">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="navButton carrito">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

      </nav>  
    </header>
    <main>

        <!-- /* ImgPrincipal */ -->

        <section id="imgPrincipal">
            <img src="/img/logoPrueba.png" alt="">
        </section>

        <!-- /* seccion logos de marca */ -->
        <section id="seccionLogosMarca">
            <div class="porLogo">
                <div class="iconMarca">
                    <i class="fa-brands fa-playstation"></i>
                </div>
                <h3>Lorem Ipsum</h3>
                <p style="margin-top: 0;">Es simplemente un texto ficticio de la industria de la impresión y la composición tipográfica.</p>
            </div>
            <div class="porLogo">
                <div class="iconMarca">
                    <i class="fa-brands fa-xbox"></i>
                </div>
                <h3>Lorem Ipsum</h3>
                <p style="margin-top: 0;">Es simplemente un texto ficticio de la industria de la impresión y la composición tipográfica.</p>
            </div>
            <div class="porLogo">
                <div class="iconMarca">
                    <i class="fa-solid fa-gamepad"></i>
                </div>
                <h3>Lorem Ipsum</h3>
                <p style="margin-top: 0;">Es simplemente un texto ficticio de la industria de la impresión y la composición tipográfica.</p>
            </div>
        </section>

        <!-- Nuestros productos -->

        <section id="pruductosLinea">
            <h2>Nuestros productos</h2>
            <div class="productoDesc">
                <a href="/detalle-producto">
                    <div>
                        <img src="/img/logoPrueba.png" alt="">
                    </div>
                    <div class="descripcion">
                        <div class="estrellas">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <h4>Producto</h4>
                        <p>$50.000</p>
                        <div class="iconosAbajo">
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-regular fa-heart"></i>
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </a>
            </div>
        </section>

        <!-- /* consolaPorSeccion */ -->

        <!-- Play -->

        <section id="consolaPorSeccion">
            <div class="imgConsolaPorSeccion">
                <div class="tamañoImg">
                    <img src="/img/logoPrueba.png" alt="">
                </div>
            </div>
            <div class="textoPorSeccion">
                <h2>Play Station 5</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloribus rem alias delectus earum obcaecati animi quasi 
                    sequi quas debitis molestias ratione mollitia itaque fugit 
                    esse magni deleniti, non maiores voluptate!</p>

                <div class="botonVermas">
                    <button type="submit">Ver más
                    </button>
                </div>
            </div>
        </section>

        <!-- Xbox -->

        <section id="consolaPorSeccion">
            <div class="imgConsolaPorSeccion">
                <div class="tamañoImg">
                    <img src="/img/logoPrueba.png" alt="">
                </div>
            </div>
            <div class="textoPorSeccion">
                <h2>Xbox One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloribus rem alias delectus earum obcaecati animi quasi 
                    sequi quas debitis molestias ratione mollitia itaque fugit 
                    esse magni deleniti, non maiores voluptate!</p>

                <div class="botonVermas">
                    <button type="submit">Ver más
                    </button>
                </div>
            </div>
        </section>

        <!-- Nintendo -->

        <section id="consolaPorSeccion">
            <div class="imgConsolaPorSeccion">
                <div class="tamañoImg">
                    <img src="/img/logoPrueba.png" alt="">
                </div>
            </div>
            <div class="textoPorSeccion">
                <h2>Nintendo</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Doloribus rem alias delectus earum obcaecati animi quasi 
                    sequi quas debitis molestias ratione mollitia itaque fugit 
                    esse magni deleniti, non maiores voluptate!</p>

                <div class="botonVermas">
                    <button type="submit">Ver más
                    </button>
                </div>
            </div>

        </section>

        <!-- ImgFinal -->
        
        <section id="imgFinal">
                <img src="/img/logoPrueba.png" alt=""> 
                <h2>Disfruta de nuestra consola</h2>
                <p>Disfruta de la mejor experiencia de juegos competitivos y cooperativos en las consolas PlayStation, 
                     Xbox y Nintendo.</p>
        </section>
    </main>
    <footer>
        <section>
            <h2>Contactenos</h2>
            <p><i class="fa-solid fa-envelope"></i> playerisland@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> 000-000-0000</p>
        </section>
        <section>
           <div> <button class="red"><a href="https://www.instagram.com "><i class="fa-brands fa-instagram "></i></a></button>
            <button class="red"><a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a></button>
            <button class="red"><a href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a></button>
            <button class="red"><a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a></button></div>
        </section>
        <section>
            <h3 style="margin-bottom: 0px">Productos</h3>
            <ul>
                <li><a> lorem ipsum</a></li>
                <li><a> lorem ipsum</a></li>
                <li><a> lorem ipsum</a></li>
                <li><a> lorem ipsum</a></li>
            </ul>
        </section>
        <section>
            <form action="/" method="post">
                <h3>Escribenos</h3>
                <input id="formEmail" type="email" name="email" placeholder="ejemplo@correo.com">
                <textarea name="comentarios" rows="10" cols="40" placeholder="Escribe aquí tus comentarios"></textarea>
                <div id="botones">
                    <button id="enviarForm" type="submit" value="ENVIAR">ENVIAR</button>
                    <button id="resetForm" type="reset">BORRAR</button>
                </div>
            </form>
        </section>

    </footer>
</body>
</html>