<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/listaProductos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <header>
      <nav>
        <div id="logo">
            <img src="/img/logoProvisional.png" alt="">
        </div>
        <div id="barraBusqueda">
            <i class="fa-solid fa-magnifying-glass navButton"></i>  
            <input type="search" placeholder="Busca aquí...">
        </div>
        <div class="navButton barras">
            <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="navButton carrito">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </nav>  
    </header>
    <main>
        <section class="productos">
            <div class="row">
            <article>
                <div class="col-xs-10 col-sm-6 col-md-4 producto">
                    <div class="card">
                        <figure>
                            <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                        </figure>
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">☆</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">☆</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">☆</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">☆</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">☆</label>
                            </p>
                        </form>
                        <div class="informacion">
                            <h2>Producto</h2>
                        </div>
                        <div class="precio">
                            <p class="box-precio">$50,0000</p>
                        </div>
                        <div class="logos">
                            <span class="heart"><i class="fas fa-heart"></i></span>
                            <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                            <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                        </div>
                    </div>

                    <div class="card">
                        <figure>
                            <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                        </figure>
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">☆</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">☆</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">☆</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">☆</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">☆</label>
                            </p>
                        </form>
                        <div class="informacion">
                            <h2>Producto</h2>
                        </div>
                        <div class="precio">
                            <p class="box-precio">$50,0000</p>
                        </div>
                        <div class="logos">
                            <span class="heart"><i class="fas fa-heart"></i></span>
                            <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                            <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                        </div>
                    </div>

                    <div class="card">
                        <figure>
                            <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                        </figure>
                        <form>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">☆</label>
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">☆</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">☆</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">☆</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">☆</label>
                            </p>
                        </form>
                        <div class="informacion">
                            <h2>Producto</h2>
                        </div>
                        <div class="precio">
                            <p class="box-precio">$50,0000</p>
                        </div>
                        <div class="logos">
                            <span class="heart"><i class="fas fa-heart"></i></span>
                            <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                            <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                        </div>
                    </div>
                </div>
            </article>
            </div> 

            <div class="row">
                <article>
                    <div class="col-xs-10 col-sm-6 col-md-4 producto">
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
    
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
    
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            
            <div class="row">
                <article>
                    <div class="col-xs-10 col-sm-6 col-md-4 producto">
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
    
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
    
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row">
                <article>
                    <div class="col-xs-10 col-sm-6 col-md-4 producto">
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
    
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
    
                        <div class="card">
                            <figure>
                                <img class="card-img-top" src="/img/tamaños img del home/img principal.png" atl="Imagen">
                            </figure>
                            <form>
                                <p class="clasificacion">
                                    <input id="radio1" type="radio" name="estrellas" value="5">
                                    <label for="radio1">☆</label>
                                    <input id="radio2" type="radio" name="estrellas" value="4">
                                    <label for="radio2">☆</label>
                                    <input id="radio3" type="radio" name="estrellas" value="3">
                                    <label for="radio3">☆</label>
                                    <input id="radio4" type="radio" name="estrellas" value="2">
                                    <label for="radio4">☆</label>
                                    <input id="radio5" type="radio" name="estrellas" value="1">
                                    <label for="radio5">☆</label>
                                </p>
                            </form>
                            <div class="informacion">
                                <h2>Producto</h2>
                            </div>
                            <div class="precio">
                                <p class="box-precio">$50,0000</p>
                            </div>
                            <div class="logos">
                                <span class="heart"><i class="fas fa-heart"></i></span>
                                <span class="network"><i class="fa-solid fa-diagram-project"></i></i></span>  
                                <span class="shopping"><i class="fas fa-cart-shopping"></i></span>   
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <h2>Contactenos</h2>
            <p><i class="fa-solid fa-envelope"></i> playerisland@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i> 000-000-0000</p>
        </section>
        <section>
           <div> <button class="red"><a href="https://www.instagram.com "><i class="fa-brands fa-instagram "></i></a></button>
            <button class="red"><a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a></button>
            <button class="red"><a href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a></button>
            <button class="red"><a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a></button></div>
        </section>
        <section>
            <h3 style="margin-bottom: 0px">Productos</h3>
            <ul>
                <li><a>lorem ipsum</a></li>
                <li><a>lorem ipsum</a></li>
                <li><a>lorem ipsum</a></li>
                <li><a>lorem ipsum</a></li>
            </ul>
        </section>
        <section>
            <form action="/" method="post">
                <h3>Escribenos</h3>
                <input id="formEmail" type="email" name="email" placeholder="ejemplo@correo.com">
                <textarea name="comentarios" rows="10" cols="40" placeholder="Escribe aquí tus comentarios"></textarea>
                <div id="botones">
                    <button id="enviarForm" type="submit" value="ENVIAR">ENVIAR</button>
                    <button id="resetForm" type="reset">BORRAR</button>
                </div>
            </form>
        </section>
    </footer>
</body>
</html>